.top-minus-2rem{
    position: relative;
    top: -0.5rem;
    opacity: 0;


    &:hover{
        opacity: 1;
    }
}




.text-slogan{
    color: hsl(var(--foreground));
    text-align: right;
    font-family: 'Inter';
    font-size: 3rem;
    font-style: normal;
    font-weight: 800;
    line-height: 3.75rem;
    letter-spacing: -0.036rem;
    user-select: none;
    max-lines: 3;
    
    &.rus{
        font-size: 2.425rem;
        text-wrap: wrap;
        max-lines: 2;
    }

    &.blue{
        color: hsl(var(--main-col));
        font-size: 6rem;
        font-style: normal;
        font-weight: 800;
        line-height: 4rem;
        letter-spacing: 0;
        text-wrap: wrap;

        &.rus{
            font-size: 5rem;
        }
    }
}





#root{
    height: auto;
    
}



.hover_1 {
    transition: 
        background 0.2s ease-in-out, 
        color 0.2s ease-in-out;

    
}


.hover_1:hover{
    background: 
        hsla(var(--main-col) /4%) !important; 
    color: hsl(var(--main-col));

    &.bg-none{
        background: transparent !important;
    }

}


.bg-foreground-6per {
    background: 
        hsl(var(--main-col-bg));
}


.logoTon{
    transition: transform .2s ease-in-out;
    &:hover{
        transform:scale(0.9)
    }
}



.width-min {
  width: -moz-min-content !important;
  width: min-content !important;
  min-width: none;
}


/* Пример медиазапросов для мобильных устройств */
@media (max-width: 768px) {
    .dropdown-menu-content {
      width: 100%; /* Растянуть меню на всю ширину экрана */
      max-width: none;
    }
  
    .dropdown-menu-item {
      padding: 12px; /* Увеличить отступы для удобного касания */
    }
  }
  